/* Navbar */

.NavLink {
    border-radius: 25px 25px 5px 5px;
    padding: 10px;
    color: #61dafb;
    /*background: #282c34;*/
    margin: 10px;
}

.ActiveNavLink {
    color: #ffffff;
}

/* Banner */
.hero-container {
  background-color: aquamarine;
}

/* Title */
.sectionTitle {
  text-align: center;
  margin-bottom: 4rem;
}
.sectionTitle h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.sectionTitle div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */